doctype html
html(lang="en")
    head
         title To Do Application
         link(rel='stylesheet', href='/static/styles.css')
         link(rel='preconnect', href='https://fonts.gstatic.com')
         link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap')
    body 
         div.container
             h1.logo To Do Application 

             block content