doctype html
html(lang="en")
    head
         title To Do Application
         link(rel='stylesheet', href='/static/styles.css')
    body 
         div.container
             h1.logo To Do Application 

             block content