:root {
    font-family: 'New Tegomin', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: ghostwhite;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

.logo {
    text-align: center; 
    font-size: 4rem;
    color: black;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
    color: green;
    background-color: none;
    font-family: 'New Tegomin', serif;
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    width: 80%;
border: 2px solid darkgreen;
}

.btn {
    font-family: 'New Tegomin', serif;
    background-color: darkgreen;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 25%;
    border: none;
}
.btn:hover{
    background: darkgreen;
    color: black;
}

.todos {

    margin-top: 15px;
    border: 2px solid darkgreen;
    color: none;
    background-color: darkgray;
    padding: 10px;

}

.todo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px dashed gray;
    color: green;
    background-color: darkgray;
}

.todo:last-child {
    border-bottom: solid;
}

.todo:first-child {
border-top: solid;
}

.todo:hover {
    background: darkgray;
    color: green;
    font-size: 1.7rem;
}

.error {
    background-color: tomato;
    margin-bottom: 15px;
    text-align: center;
    color: darkred;
    font-size: 1.5rem;
    border: 2px solid darkred;
    padding: 10px;
}

.success {
    background-color: limegreen;
    margin-bottom: 15px;
    text-align: center;
    color: darkgreen;
    font-size: 1.5rem;
    border: 2px solid darkgreen;
    padding: 10px;
}

.delete {
    text-decoration: solid;
    font-size: 1.3rem;
    padding: 5px 10px;
    border: 1px solid red;
    color: red;
    background-color: darkgray;
}
.delete:hover {
    background: darkgray;
    color: darkred;
    border: 1px solid darkred;
}

.done,
.undone {
    text-decoration: none;
    color: green;
    background-color: darkgray;
}




.done {
    text-decoration: darkgreen line-through;
}