:root {
    font-family: 'New Tegomin', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

.logo {
    text-align: center; 
    font-size: 4rem;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
    font-family: 'New Tegomin', serif;
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    width: 80%;
border: 1px solid darkgray;
}

.btn {
    font-family: 'New Tegomin', serif;
    background-color: cornflowerblue;
    color: cornsilk;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 25%;
    border: none;
}
.btn:hover{
    background: skyblue;
    color: darkturquoise;
}

.todos {
    margin-top: 15px;
    border: 1px groove darkgrey;
    padding: 10px;
}

.todo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px dashed darkgrey;
    color: lightslategray;
}

.todo:last-child {
    border-bottom: solid;
}

.todo:first-child {
border-top: solid;
}

.todo:hover {
    background: skyblue;
    color: darkturquoise;
    font-size: 1.7rem;
}

.error {
    margin-bottom: 15px;
    background: whitesmoke;
    text-align: center;
    color: red;
    font-size: 1.5rem;
    border: 1px solid red;
    padding: 10px;
}

.success {
    margin-bottom: 15px;
    background: whitesmoke;
    text-align: center;
    color: green;
    font-size: 1.5rem;
    border: 1px solid green;
    padding: 10px;
}

.delete {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    background: tomato;
    color: #fff;
}

.done,
.undone {
    text-decoration: none;
    color: black;
}

.done {
    text-decoration: line-through;
}